<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>country</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>超级大乐透</string>
			<key>lotteryCode</key>
			<string>DLT</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福彩3D</string>
			<key>lotteryCode</key>
			<string>FC3D</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>排列3</string>
			<key>lotteryCode</key>
			<string>PL3</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>排列5</string>
			<key>lotteryCode</key>
			<string>PL5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七乐彩</string>
			<key>lotteryCode</key>
			<string>QLC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七星彩</string>
			<key>lotteryCode</key>
			<string>QXC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>双色球</string>
			<key>lotteryCode</key>
			<string>SSQ</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>六场半全场</string>
			<key>lotteryCode</key>
			<string>ZCBQC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>四场进球彩</string>
			<key>lotteryCode</key>
			<string>ZCJQC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>十四场胜负彩(任9)</string>
			<key>lotteryCode</key>
			<string>ZCSFC</string>
			<key>imgName</key>
			<string></string>
		</dict>
	</array>
	<key>gaopin</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>安徽11选5</string>
			<key>lotteryCode</key>
			<string>AH11选5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京11选5</string>
			<key>lotteryCode</key>
			<string>BJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建11选5</string>
			<key>lotteryCode</key>
			<string>FJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东11选5</string>
			<key>lotteryCode</key>
			<string>GD11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>甘肃11选5</string>
			<key>lotteryCode</key>
			<string>GS11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西11选5</string>
			<key>lotteryCode</key>
			<string>GX11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>甘肃11选5</string>
			<key>lotteryCode</key>
			<string>GS11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>贵州11选5</string>
			<key>lotteryCode</key>
			<string>GZ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北11选5</string>
			<key>lotteryCode</key>
			<string>HEB11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江11选5</string>
			<key>lotteryCode</key>
			<string>HLJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖北11选5</string>
			<key>lotteryCode</key>
			<string>HUB11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>吉林11选5</string>
			<key>lotteryCode</key>
			<string>JL11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江苏11选5</string>
			<key>lotteryCode</key>
			<string>JS11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江西11选5</string>
			<key>lotteryCode</key>
			<string>JX11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>辽宁11选5</string>
			<key>lotteryCode</key>
			<string>LN11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>内蒙古11选5</string>
			<key>lotteryCode</key>
			<string>NMG11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山东11选5(十一运夺金)</string>
			<key>lotteryCode</key>
			<string>SD11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海11选5</string>
			<key>lotteryCode</key>
			<string>SH11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>陕西11选5</string>
			<key>lotteryCode</key>
			<string>SXL11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山西11选5</string>
			<key>lotteryCode</key>
			<string>SXR11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>天津11选5</string>
			<key>lotteryCode</key>
			<string>TJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆11选5</string>
			<key>lotteryCode</key>
			<string>XJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>云南11选5</string>
			<key>lotteryCode</key>
			<string>YN11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>浙江11选5</string>
			<key>lotteryCode</key>
			<string>ZJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>安徽快三</string>
			<key>lotteryCode</key>
			<string>AHK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京快三</string>
			<key>lotteryCode</key>
			<string>BJK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建快三</string>
			<key>lotteryCode</key>
			<string>FJK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>甘肃快三</string>
			<key>lotteryCode</key>
			<string>GSK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西快三(好运)</string>
			<key>lotteryCode</key>
			<string>AHK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>贵州快三</string>
			<key>lotteryCode</key>
			<string>GZK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北快三</string>
			<key>lotteryCode</key>
			<string>HEBK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖北快三</string>
			<key>lotteryCode</key>
			<string>HUBK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>吉林快三</string>
			<key>lotteryCode</key>
			<string>JLK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江苏快三</string>
			<key>lotteryCode</key>
			<string>JSK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江西快三</string>
			<key>lotteryCode</key>
			<string>JXK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>内蒙古快三</string>
			<key>lotteryCode</key>
			<string>NMGK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海快三</string>
			<key>lotteryCode</key>
			<string>SHK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>重庆快乐十分(幸运农场)</string>
			<key>lotteryCode</key>
			<string>CQKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东快乐十分</string>
			<key>lotteryCode</key>
			<string>GDKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西快乐十分</string>
			<key>lotteryCode</key>
			<string>GXKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江快乐十分</string>
			<key>lotteryCode</key>
			<string>HLJKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖南快乐十分(动物总动员)</string>
			<key>lotteryCode</key>
			<string>HUNKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>陕西快乐十分</string>
			<key>lotteryCode</key>
			<string>SXLKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山西快乐十分</string>
			<key>lotteryCode</key>
			<string>SXRKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>天津快乐十分</string>
			<key>lotteryCode</key>
			<string>TJKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>云南快乐十分</string>
			<key>lotteryCode</key>
			<string>YNKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>辽宁快乐十二</string>
			<key>lotteryCode</key>
			<string>LNKL12</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>四川快乐十二</string>
			<key>lotteryCode</key>
			<string>SCKL12</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>浙江快乐十二</string>
			<key>lotteryCode</key>
			<string>ZJKL12</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>重庆时时彩</string>
			<key>lotteryCode</key>
			<string>CQSSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江时时彩</string>
			<key>lotteryCode</key>
			<string>HLJSSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>天津时时彩</string>
			<key>lotteryCode</key>
			<string>TJSSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆时时彩</string>
			<key>lotteryCode</key>
			<string>XJSSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>云南时时彩</string>
			<key>lotteryCode</key>
			<string>YNSSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京快乐8</string>
			<key>lotteryCode</key>
			<string>BJKL8</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京赛车(PK10)</string>
			<key>lotteryCode</key>
			<string>BJPK10</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京快中彩</string>
			<key>lotteryCode</key>
			<string>BJKZC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河南泳坛夺金(481)</string>
			<key>lotteryCode</key>
			<string>HENYTDJ</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖南幸运赛车</string>
			<key>lotteryCode</key>
			<string>HUNXYSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山东快乐扑克3</string>
			<key>lotteryCode</key>
			<string>SDKLPK3</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山东群英会</string>
			<key>lotteryCode</key>
			<string>SDQYH</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海时时乐</string>
			<key>lotteryCode</key>
			<string>SHSSL</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>陕西泳坛夺金(481)</string>
			<key>lotteryCode</key>
			<string>SXRYTDJ</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆喜乐彩</string>
			<key>lotteryCode</key>
			<string>XJXLC</string>
			<key>imgName</key>
			<string></string>
		</dict>
	</array>
	<key>dipin</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>安徽福彩25选5</string>
			<key>lotteryCode</key>
			<string>AHFC25X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七省东方6+1</string>
			<key>lotteryCode</key>
			<string>DF6J1</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建体彩22选5</string>
			<key>lotteryCode</key>
			<string>FJTC22X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建体彩36选7</string>
			<key>lotteryCode</key>
			<string>FJTC36X7</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东南粤风采26选5</string>
			<key>lotteryCode</key>
			<string>GDFC26X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东南粤风采36选7</string>
			<key>lotteryCode</key>
			<string>GDFC36X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东南粤风采好彩1</string>
			<key>lotteryCode</key>
			<string>GDFCHC1</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广州深圳风采</string>
			<key>lotteryCode</key>
			<string>GDSZFC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西快乐双彩</string>
			<key>lotteryCode</key>
			<string>GXKLSC</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七省华东15选5</string>
			<key>lotteryCode</key>
			<string>HD15X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江风彩22选5</string>
			<key>lotteryCode</key>
			<string>HLJFC22X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江体彩6+1</string>
			<key>lotteryCode</key>
			<string>HLJTC6J1</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江苏体彩7位数</string>
			<key>lotteryCode</key>
			<string>JSTC7WS</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>辽宁风采35选7</string>
			<key>lotteryCode</key>
			<string>LNFC35X7</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海天天彩选4</string>
			<key>lotteryCode</key>
			<string>SHTTCX4</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆风采18选7</string>
			<key>lotteryCode</key>
			<string>XJFC18X7</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆风采25选7</string>
			<key>lotteryCode</key>
			<string>XJFC25X7</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆风采35选7</string>
			<key>lotteryCode</key>
			<string>XJFC35X7</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采20选5</string>
			<key>lotteryCode</key>
			<string>YZFC20X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采好运彩2</string>
			<key>lotteryCode</key>
			<string>YZFCHYC2</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采好运彩3</string>
			<key>lotteryCode</key>
			<string>YZFCHYC3</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采排列5</string>
			<key>lotteryCode</key>
			<string>YZFCPL5</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采排列7</string>
			<key>lotteryCode</key>
			<string>YZFCPL7</string>
			<key>imgName</key>
			<string></string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河南中原风采22选5</string>
			<key>lotteryCode</key>
			<string>ZYFC22X5</string>
			<key>imgName</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
