<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>全国彩列表</string>
		<key>type</key>
		<string>country</string>
	</dict>
	<dict>
		<key>name</key>
		<string>境内高频彩列表</string>
		<key>type</key>
		<string>gaopin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>境内低频彩列表</string>
		<key>type</key>
		<string>dipin</string>
	</dict>
</array>
</plist>
