<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>country</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>超级大乐透</string>
			<key>lotteryCode</key>
			<string>DLT</string>
			<key>imgName</key>
			<string>daletou</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福彩3D</string>
			<key>lotteryCode</key>
			<string>FC3D</string>
			<key>imgName</key>
			<string>fucai3D</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>排列3</string>
			<key>lotteryCode</key>
			<string>PL3</string>
			<key>imgName</key>
			<string>pailie</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>排列5</string>
			<key>lotteryCode</key>
			<string>PL5</string>
			<key>imgName</key>
			<string>pailie</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七乐彩</string>
			<key>lotteryCode</key>
			<string>QLC</string>
			<key>imgName</key>
			<string>qilecai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七星彩</string>
			<key>lotteryCode</key>
			<string>QXC</string>
			<key>imgName</key>
			<string>qixingcai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>双色球</string>
			<key>lotteryCode</key>
			<string>SSQ</string>
			<key>imgName</key>
			<string>shuangseqiu</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>六场半全场</string>
			<key>lotteryCode</key>
			<string>ZCBQC</string>
			<key>imgName</key>
			<string>shengfucai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>四场进球彩</string>
			<key>lotteryCode</key>
			<string>ZCJQC</string>
			<key>imgName</key>
			<string>jingcaizuqiu</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>十四场胜负彩(任9)</string>
			<key>lotteryCode</key>
			<string>ZCSFC</string>
			<key>imgName</key>
			<string>renxuanjiuchang</string>
		</dict>
	</array>
	<key>jingneigaopin</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>安徽11选5</string>
			<key>lotteryCode</key>
			<string>AH11选5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京11选5</string>
			<key>lotteryCode</key>
			<string>BJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建11选5</string>
			<key>lotteryCode</key>
			<string>FJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东11选5</string>
			<key>lotteryCode</key>
			<string>GD11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>甘肃11选5</string>
			<key>lotteryCode</key>
			<string>GS11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西11选5</string>
			<key>lotteryCode</key>
			<string>GX11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>甘肃11选5</string>
			<key>lotteryCode</key>
			<string>GS11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>贵州11选5</string>
			<key>lotteryCode</key>
			<string>GZ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北11选5</string>
			<key>lotteryCode</key>
			<string>HEB11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江11选5</string>
			<key>lotteryCode</key>
			<string>HLJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖北11选5</string>
			<key>lotteryCode</key>
			<string>HUB11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>吉林11选5</string>
			<key>lotteryCode</key>
			<string>JL11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江苏11选5</string>
			<key>lotteryCode</key>
			<string>JS11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江西11选5</string>
			<key>lotteryCode</key>
			<string>JX11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>辽宁11选5</string>
			<key>lotteryCode</key>
			<string>LN11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>内蒙古11选5</string>
			<key>lotteryCode</key>
			<string>NMG11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山东11选5(十一运夺金)</string>
			<key>lotteryCode</key>
			<string>SD11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海11选5</string>
			<key>lotteryCode</key>
			<string>SH11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>陕西11选5</string>
			<key>lotteryCode</key>
			<string>SXL11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山西11选5</string>
			<key>lotteryCode</key>
			<string>SXR11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>天津11选5</string>
			<key>lotteryCode</key>
			<string>TJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆11选5</string>
			<key>lotteryCode</key>
			<string>XJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>云南11选5</string>
			<key>lotteryCode</key>
			<string>YN11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>浙江11选5</string>
			<key>lotteryCode</key>
			<string>ZJ11X5</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>安徽快三</string>
			<key>lotteryCode</key>
			<string>AHK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京快三</string>
			<key>lotteryCode</key>
			<string>BJK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建快三</string>
			<key>lotteryCode</key>
			<string>FJK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>甘肃快三</string>
			<key>lotteryCode</key>
			<string>GSK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西快三(好运)</string>
			<key>lotteryCode</key>
			<string>AHK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>贵州快三</string>
			<key>lotteryCode</key>
			<string>GZK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北快三</string>
			<key>lotteryCode</key>
			<string>HEBK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖北快三</string>
			<key>lotteryCode</key>
			<string>HUBK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>吉林快三</string>
			<key>lotteryCode</key>
			<string>JLK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江苏快三</string>
			<key>lotteryCode</key>
			<string>JSK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江西快三</string>
			<key>lotteryCode</key>
			<string>JXK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>内蒙古快三</string>
			<key>lotteryCode</key>
			<string>NMGK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海快三</string>
			<key>lotteryCode</key>
			<string>SHK3</string>
			<key>imgName</key>
			<string>kuai3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>重庆快乐十分(幸运农场)</string>
			<key>lotteryCode</key>
			<string>CQKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东快乐十分</string>
			<key>lotteryCode</key>
			<string>GDKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西快乐十分</string>
			<key>lotteryCode</key>
			<string>GXKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江快乐十分</string>
			<key>lotteryCode</key>
			<string>HLJKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖南快乐十分(动物总动员)</string>
			<key>lotteryCode</key>
			<string>HUNKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>陕西快乐十分</string>
			<key>lotteryCode</key>
			<string>SXLKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山西快乐十分</string>
			<key>lotteryCode</key>
			<string>SXRKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>天津快乐十分</string>
			<key>lotteryCode</key>
			<string>TJKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>云南快乐十分</string>
			<key>lotteryCode</key>
			<string>YNKLSF</string>
			<key>imgName</key>
			<string>kuaile10fen</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>辽宁快乐十二</string>
			<key>lotteryCode</key>
			<string>LNKL12</string>
			<key>imgName</key>
			<string>kuaile12</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>四川快乐十二</string>
			<key>lotteryCode</key>
			<string>SCKL12</string>
			<key>imgName</key>
			<string>kuaile12</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>浙江快乐十二</string>
			<key>lotteryCode</key>
			<string>ZJKL12</string>
			<key>imgName</key>
			<string>kuaile12</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>重庆时时彩</string>
			<key>lotteryCode</key>
			<string>CQSSC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江时时彩</string>
			<key>lotteryCode</key>
			<string>HLJSSC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>天津时时彩</string>
			<key>lotteryCode</key>
			<string>TJSSC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆时时彩</string>
			<key>lotteryCode</key>
			<string>XJSSC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>云南时时彩</string>
			<key>lotteryCode</key>
			<string>YNSSC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京快乐8</string>
			<key>lotteryCode</key>
			<string>BJKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京赛车(PK10)</string>
			<key>lotteryCode</key>
			<string>BJPK10</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>北京快中彩</string>
			<key>lotteryCode</key>
			<string>BJKZC</string>
			<key>imgName</key>
			<string>kuaizhongcai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河南泳坛夺金(481)</string>
			<key>lotteryCode</key>
			<string>HENYTDJ</string>
			<key>imgName</key>
			<string>yongtanduojin</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>湖南幸运赛车</string>
			<key>lotteryCode</key>
			<string>HUNXYSC</string>
			<key>imgName</key>
			<string>xingyunsaiche</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山东快乐扑克3</string>
			<key>lotteryCode</key>
			<string>SDKLPK3</string>
			<key>imgName</key>
			<string>kuailepuke3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山东群英会</string>
			<key>lotteryCode</key>
			<string>SDQYH</string>
			<key>imgName</key>
			<string>qunyinghui</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海时时乐</string>
			<key>lotteryCode</key>
			<string>SHSSL</string>
			<key>imgName</key>
			<string>shishile</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>山西泳坛夺金(481)</string>
			<key>lotteryCode</key>
			<string>SXRYTDJ</string>
			<key>imgName</key>
			<string>yongtanduojin</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆喜乐彩</string>
			<key>lotteryCode</key>
			<string>XJXLC</string>
			<key>imgName</key>
			<string>xilecai</string>
		</dict>
	</array>
	<key>jingneidipin</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>安徽福彩25选5</string>
			<key>lotteryCode</key>
			<string>AHFC25X5</string>
			<key>imgName</key>
			<string>22xuan5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七省东方6+1</string>
			<key>lotteryCode</key>
			<string>DF6J1</string>
			<key>imgName</key>
			<string>6jia1</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建体彩22选5</string>
			<key>lotteryCode</key>
			<string>FJTC22X5</string>
			<key>imgName</key>
			<string>22xuan5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>福建体彩36选7</string>
			<key>lotteryCode</key>
			<string>FJTC36X7</string>
			<key>imgName</key>
			<string>36xuan7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东南粤风采26选5</string>
			<key>lotteryCode</key>
			<string>GDFC26X5</string>
			<key>imgName</key>
			<string>26xuan5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东南粤风采36选7</string>
			<key>lotteryCode</key>
			<string>GDFC36X5</string>
			<key>imgName</key>
			<string>36xuan7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广东南粤风采好彩1</string>
			<key>lotteryCode</key>
			<string>GDFCHC1</string>
			<key>imgName</key>
			<string>haocai1</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广州深圳风采</string>
			<key>lotteryCode</key>
			<string>GDSZFC</string>
			<key>imgName</key>
			<string>shenzhenfengcai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>广西快乐双彩</string>
			<key>lotteryCode</key>
			<string>GXKLSC</string>
			<key>imgName</key>
			<string>kuaileshuangcai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>七省华东15选5</string>
			<key>lotteryCode</key>
			<string>HD15X5</string>
			<key>imgName</key>
			<string>15xuan5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江风彩22选5</string>
			<key>lotteryCode</key>
			<string>HLJFC22X5</string>
			<key>imgName</key>
			<string>22xuan5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>黑龙江体彩6+1</string>
			<key>lotteryCode</key>
			<string>HLJTC6J1</string>
			<key>imgName</key>
			<string>6jia1</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>江苏体彩7位数</string>
			<key>lotteryCode</key>
			<string>JSTC7WS</string>
			<key>imgName</key>
			<string>7weishu</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>辽宁风采35选7</string>
			<key>lotteryCode</key>
			<string>LNFC35X7</string>
			<key>imgName</key>
			<string>35xuan7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>上海天天彩选4</string>
			<key>lotteryCode</key>
			<string>SHTTCX4</string>
			<key>imgName</key>
			<string>tiantiancaixuan4</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆风采18选7</string>
			<key>lotteryCode</key>
			<string>XJFC18X7</string>
			<key>imgName</key>
			<string>35xuan7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆风采25选7</string>
			<key>lotteryCode</key>
			<string>XJFC25X7</string>
			<key>imgName</key>
			<string>25xuan7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新疆风采35选7</string>
			<key>lotteryCode</key>
			<string>XJFC35X7</string>
			<key>imgName</key>
			<string>35xuan7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采20选5</string>
			<key>lotteryCode</key>
			<string>YZFC20X5</string>
			<key>imgName</key>
			<string>20xuan5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采好运彩2</string>
			<key>lotteryCode</key>
			<string>YZFCHYC2</string>
			<key>imgName</key>
			<string>haoyun2</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采好运彩3</string>
			<key>lotteryCode</key>
			<string>YZFCHYC3</string>
			<key>imgName</key>
			<string>haoyun3</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采排列5</string>
			<key>lotteryCode</key>
			<string>YZFCPL5</string>
			<key>imgName</key>
			<string>pailie5</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河北燕赵风采排列7</string>
			<key>lotteryCode</key>
			<string>YZFCPL7</string>
			<key>imgName</key>
			<string>pailie7</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河南中原风采22选5</string>
			<key>lotteryCode</key>
			<string>ZYFC22X5</string>
			<key>imgName</key>
			<string>22xuan5</string>
		</dict>
	</array>
	<key>jingwaidipin</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>香江彩</string>
			<key>lotteryCode</key>
			<string>HK6</string>
			<key>imgName</key>
			<string>liuhecai</string>
		</dict>
	</array>
	<key>jingwaigaopin</key>
	<array>
		<dict>
			<key>lotteryName</key>
			<string>济州岛11选5</string>
			<key>lotteryCode</key>
			<string>JZDSYXW</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新德里11选5</string>
			<key>lotteryCode</key>
			<string>XDLSYXW</string>
			<key>imgName</key>
			<string>shishihuanle</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>加纳1.5分彩</string>
			<key>lotteryCode</key>
			<string>AFGH90</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>比利时分分彩</string>
			<key>lotteryCode</key>
			<string>BLSFFC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>加拿大1.5</string>
			<key>lotteryCode</key>
			<string>CA90S</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>欧洲秒速时时彩</string>
			<key>lotteryCode</key>
			<string>ER75SSC</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>埃及分分彩</string>
			<key>lotteryCode</key>
			<string>FFC1</string>
			<key>imgName</key>
			<string>aiji</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>埃及二分彩</string>
			<key>lotteryCode</key>
			<string>FFC2</string>
			<key>imgName</key>
			<string>aiji</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>埃及三分彩</string>
			<key>lotteryCode</key>
			<string>FFC3</string>
			<key>imgName</key>
			<string>aiji</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>埃及五分彩</string>
			<key>lotteryCode</key>
			<string>FFC5</string>
			<key>imgName</key>
			<string>aiji</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>印尼时时彩(五分彩)</string>
			<key>lotteryCode</key>
			<string>INFFC5</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>马拉松45秒</string>
			<key>lotteryCode</key>
			<string>MNL45S</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>泰国时时彩(五分彩)</string>
			<key>lotteryCode</key>
			<string>THFFC5</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>扣扣分分彩</string>
			<key>lotteryCode</key>
			<string>TXFFC</string>
			<key>imgName</key>
			<string>tengxun</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>越南河内时时彩(快5)</string>
			<key>lotteryCode</key>
			<string>VIFFC5</string>
			<key>imgName</key>
			<string>shishicai</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾快乐8(1.5分)</string>
			<key>lotteryCode</key>
			<string>PHKENO</string>
			<key>imgName</key>
			<string>feilvbin</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾快乐8(2分)</string>
			<key>lotteryCode</key>
			<string>PHKENO2</string>
			<key>imgName</key>
			<string>feilvbin</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾快乐8(5分)</string>
			<key>lotteryCode</key>
			<string>PHKENO5</string>
			<key>imgName</key>
			<string>feilvbin</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>澳洲快乐8(act)</string>
			<key>lotteryCode</key>
			<string>AUKENO</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>澳洲幸运快乐8</string>
			<key>lotteryCode</key>
			<string>AULUCK8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>巴登45秒快乐8</string>
			<key>lotteryCode</key>
			<string>BDSWMKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>加拿大卑斯快乐8</string>
			<key>lotteryCode</key>
			<string>CAKENO</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>加拿大西部快乐8</string>
			<key>lotteryCode</key>
			<string>CWKENO</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>日本新版东京快乐8</string>
			<key>lotteryCode</key>
			<string>DJKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>多伦多45秒快乐8</string>
			<key>lotteryCode</key>
			<string>DLDSWMKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>欧洲3.5</string>
			<key>lotteryCode</key>
			<string>ER35</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>欧洲百万彩</string>
			<key>lotteryCode</key>
			<string>ERBWC90</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾30秒快乐8</string>
			<key>lotteryCode</key>
			<string>FLB30MKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾分分快乐8</string>
			<key>lotteryCode</key>
			<string>FLBFFKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾两分快乐8</string>
			<key>lotteryCode</key>
			<string>FLBLFKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>河内45秒快乐8</string>
			<key>lotteryCode</key>
			<string>HNSWMKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>吉隆坡45秒快乐8</string>
			<key>lotteryCode</key>
			<string>JLPSWMKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>加拿大30秒快乐8</string>
			<key>lotteryCode</key>
			<string>JNDSSMKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>加拿大一分快乐8</string>
			<key>lotteryCode</key>
			<string>JNDYFKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>日本东京国办快乐8</string>
			<key>lotteryCode</key>
			<string>JPHOT8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>柬埔寨30秒快乐8</string>
			<key>lotteryCode</key>
			<string>JPZ30MKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>柬埔寨分分快乐8</string>
			<key>lotteryCode</key>
			<string>JPZFFKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>韩国济州岛快乐8</string>
			<key>lotteryCode</key>
			<string>KRJZDKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>韩国官方快乐8</string>
			<key>lotteryCode</key>
			<string>KRKENO22</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>韩国国办快乐8</string>
			<key>lotteryCode</key>
			<string>KRNKENO</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>韩国乐透快乐8</string>
			<key>lotteryCode</key>
			<string>KRNKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>英国伦敦快乐8</string>
			<key>lotteryCode</key>
			<string>LDKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>拉斯维加斯45秒快乐8</string>
			<key>lotteryCode</key>
			<string>LSWJSSWMKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>缅甸30秒快乐8</string>
			<key>lotteryCode</key>
			<string>MD30MKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>缅甸分分快乐8</string>
			<key>lotteryCode</key>
			<string>MDFFKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>马尼拉快乐8</string>
			<key>lotteryCode</key>
			<string>MNLKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>南非太阳城45秒快乐8</string>
			<key>lotteryCode</key>
			<string>NFTYCSWMKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>俄罗斯1.5分</string>
			<key>lotteryCode</key>
			<string>RU15S</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>俄罗斯快乐8</string>
			<key>lotteryCode</key>
			<string>RUKENO8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新加坡新版快乐8</string>
			<key>lotteryCode</key>
			<string>SGNKL8</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>土耳其1.5</string>
			<key>lotteryCode</key>
			<string>TR90S</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>台湾宾果</string>
			<key>lotteryCode</key>
			<string>TWBINGO</string>
			<key>imgName</key>
			<string>taiwan</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>台湾国办宾果</string>
			<key>lotteryCode</key>
			<string>TWNBG</string>
			<key>imgName</key>
			<string>taiwan</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>美国强力球45秒</string>
			<key>lotteryCode</key>
			<string>USPBALL45</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>美国强力球1.5分</string>
			<key>lotteryCode</key>
			<string>USPBALL90</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新东京快乐8</string>
			<key>lotteryCode</key>
			<string>XDJKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>印度新德里快乐8</string>
			<key>lotteryCode</key>
			<string>XDLKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新韩国快乐8</string>
			<key>lotteryCode</key>
			<string>XHGKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新加坡30秒快乐8</string>
			<key>lotteryCode</key>
			<string>XJP30MKLB</string>
			<key>imgName</key>
			<string>kuaile8</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>欧洲秒速飞艇</string>
			<key>lotteryCode</key>
			<string>ER75FT</string>
			<key>imgName</key>
			<string>lucky</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>欧洲秒速赛车</string>
			<key>lotteryCode</key>
			<string>ER75SC</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>菲律宾30秒pk</string>
			<key>lotteryCode</key>
			<string>FLBSSMPKS</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>柬埔寨60秒pk</string>
			<key>lotteryCode</key>
			<string>JPZYFPKS</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>济州岛pk拾</string>
			<key>lotteryCode</key>
			<string>JZDPKS</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>韩国音速</string>
			<key>lotteryCode</key>
			<string>KRYSU</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>缅甸30秒pk</string>
			<key>lotteryCode</key>
			<string>MDSSMPKS</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>马耳他幸运飞艇[私]</string>
			<key>lotteryCode</key>
			<string>MLAFT</string>
			<key>imgName</key>
			<string>lucky</string>
		</dict>
		<dict>
			<key>lotteryName</key>
			<string>新德里pk拾</string>
			<key>lotteryCode</key>
			<string>XDLPKS</string>
			<key>imgName</key>
			<string>pk10</string>
		</dict>
	</array>
</dict>
</plist>
