<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>全国彩列表</string>
		<key>type</key>
		<string>country</string>
	</dict>
	<dict>
		<key>name</key>
		<string>境内高频彩列表</string>
		<key>type</key>
		<string>jingneigaopin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>境内低频彩列表</string>
		<key>type</key>
		<string>jingneidipin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>境外高频彩列表</string>
		<key>type</key>
		<string>jingwaigaopin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>境外低频彩列表</string>
		<key>type</key>
		<string>jingwaidipin</string>
	</dict>
</array>
</plist>
