<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic50.nipic.com/file/20141009/10453194_005943612000_2.jpg</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>667</integer>
		<key>img</key>
		<string>http://v1.qzone.cc/pic/201303/18/23/00/51472c1e593ee276.jpg%21600x600.jpg</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic4.nipic.com/20090722/1412106_074614081_2.jpg</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>626</integer>
		<key>img</key>
		<string>http://static.freepik.com/free-photo/waterfall--flowing_19-139693.jpg</string>
		<key>w</key>
		<integer>416</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic50.nipic.com/file/20141009/10453194_010250082000_2.jpg</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic50.nipic.com/file/20141009/10453194_011232024000_2.jpg</string>
		<key>w</key>
		<integer>664</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>648</integer>
		<key>img</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=bd0bdef48418367aad897fd51e728b68/e0c6b2529822720e01a9f12779cb0a46f31fabbd.jpg</string>
		<key>w</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>860</integer>
		<key>img</key>
		<string>http://img01.tooopen.com/Downs/images/2009/10/18/sy_20091018124316786041.jpg</string>
		<key>w</key>
		<integer>567</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic15.nipic.com/20110802/3895596_112302665115_2.jpg</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic7.nipic.com/20100508/3997788_160752035772_2.jpg</string>
		<key>w</key>
		<integer>768</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>700</integer>
		<key>img</key>
		<string>http://v1.qzone.cc/pic/201303/18/23/00/51472c1abcb3a830.jpg%21600x600.jpg</string>
		<key>w</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>765</integer>
		<key>img</key>
		<string>http://v1.qzone.cc/pic/201303/18/23/00/51472c1b22190288.jpg%21600x600.jpg</string>
		<key>w</key>
		<integer>510</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>600</integer>
		<key>img</key>
		<string>http://pic14.huitu.com/res/20131106/128443_20131106210354751132_1.jpg</string>
		<key>w</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>986</integer>
		<key>img</key>
		<string>http://img1.sc115.com/uploads/sc/jpg/HD/2/1497.jpg</string>
		<key>w</key>
		<integer>700</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic6.nipic.com/20100312/2097731_134443063378_2.jpg</string>
		<key>w</key>
		<integer>811</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic13.nipic.com/20110310/3779509_192552575148_2.jpg</string>
		<key>w</key>
		<integer>814</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic.nipic.com/2008-07-22/200872292654352_2.jpg</string>
		<key>w</key>
		<integer>727</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic1.nipic.com/2008-10-27/2008102717323666_2.jpg</string>
		<key>w</key>
		<integer>683</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic50.nipic.com/file/20141009/10453194_011232024000_2.jpg</string>
		<key>w</key>
		<integer>664</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>648</integer>
		<key>img</key>
		<string>http://imgsrc.baidu.com/forum/w%3D580/sign=bd0bdef48418367aad897fd51e728b68/e0c6b2529822720e01a9f12779cb0a46f31fabbd.jpg</string>
		<key>w</key>
		<integer>470</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>860</integer>
		<key>img</key>
		<string>http://img01.tooopen.com/Downs/images/2009/10/18/sy_20091018124316786041.jpg</string>
		<key>w</key>
		<integer>567</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>933</integer>
		<key>img</key>
		<string>http://img1.sc115.com/uploads/sc/jpg/137/1401.jpg</string>
		<key>w</key>
		<integer>700</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1623</integer>
		<key>img</key>
		<string>http://pic.cnhubei.com/attachment/201205/23/2427_1337743521gBa2.jpg</string>
		<key>w</key>
		<integer>945</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1600</integer>
		<key>img</key>
		<string>http://www.dabaoku.com/sucaidatu/lvyou/xiaoxipubu/016_3236.jpg</string>
		<key>w</key>
		<integer>1135</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1024</integer>
		<key>img</key>
		<string>http://pic13.nipic.com/20110310/3779509_192552575148_2.jpg</string>
		<key>w</key>
		<integer>814</integer>
	</dict>
</array>
</plist>
